<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Welcome 🖐</title>
</head>

<body>



    <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <header class="mb-8 flex items-center justify-between py-4 md:mb-12 md:py-8 xl:mb-16">

                <a href="/" class="text-black-800 inline-flex items-center gap-2.5 text-2xl font-bold md:text-3xl"
                    aria-label="logo">
                    <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-indigo-500"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M96 0V47L48 94H0V47L48 0H96Z" />
                    </svg>

                    Foncière Analytica
                </a>


                <nav class="hidden gap-12 lg:flex">
                    <a href="/" class="text-lg font-semibold text-indigo-500">Home</a>
                    <a href="/analyse"
                        class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Analyse</a>
                    <a href="/about"
                        class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
                </nav>
                <a href="#" class=""></a>

            </header>

            <section class="flex flex-col justify-between gap-6 sm:gap-10 md:gap-16 lg:flex-row">

                <div class="flex flex-col justify-center sm:text-center lg:py-12 lg:text-left xl:w-5/12 xl:py-24">
                    <p class="mb-4 font-semibold text-indigo-500 md:mb-6 md:text-lg xl:text-xl">Présenté par le
                        Ministère de la Transition écologique et de la Cohésion des Territoires 🇫🇷</p>

                    <h1 class="text-black-800 mb-8 text-4xl font-bold sm:text-5xl md:mb-12 md:text-6xl">Analyse Foncière
                    </h1>

                    <p class="mb-8 leading-relaxed text-gray-500 md:mb-12 lg:w-4/5 xl:text-lg">Le but de notre mission a
                        pour but d'analyser tout le patrimoine foncier français et mettre en relation les évolutions de
                        la valeure foncière en fonction des différents évènements qui ont touchés notre pays</p>

                    <div class="flex flex-col gap-2.5 sm:flex-row sm:justify-center lg:justify-start">
                        <a href="/analyse"
                            class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Voir
                            👀</a>

                    </div>
                </div>



                <div class="h-48 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:h-auto xl:w-5/12">
                    <img src="https://images.pexels.com/photos/2574631/pexels-photo-2574631.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        loading="lazy" alt="Photo by Fakurian Design"
                        class="h-full w-full object-cover object-center" />
                </div>

            </section>
        </div>
    </div>




    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">

            <div class="mb-10 md:mb-16">
                <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Notre mission</h2>

                <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Dans le cadre de cette mission
                    spéciale demandée par l'État français, notre équipe s'est concentrée sur l'analyse des données des
                    Demandes de valeurs foncières (DVF). Il s'agit des transactions immobilières intervenues au cours
                    des cinq dernières années sur le territoire métropolitain et les DOM-TOM, à l'exception de l'Alsace,
                    de la Moselle et de Mayotte. Les données utilisées proviennent des actes notariés et des
                    informations cadastrales.</p>
            </div>


            <div class="grid gap-8 sm:grid-cols-2 md:gap-12 xl:grid-cols-3 xl:gap-16">

                <div class="flex gap-4 md:gap-6">
                    <div
                        class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                        </svg>
                    </div>

                    <div>
                        <h3 class="mb-2 text-lg font-semibold md:text-xl">Analyse des données</h3>
                        <p class="mb-2 text-gray-500">Notre équipe utilise des techniques avancées d'analyse de données
                            pour extraire des insights précieux des Demandes de valeurs foncières. Nous identifions les
                            tendances du marché, les prix moyens par région, les types de biens les plus couramment
                            vendus, et d'autres informations pertinentes dans le domaine immobilier.</p>
                        <a href="#"
                            class="font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">En
                            savoir plus</a>
                    </div>
                </div>



                <div class="flex gap-4 md:gap-6">
                    <div
                        class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m
              -6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                        </svg>
                    </div>
                    <div>
                        <h3 class="mb-2 text-lg font-semibold md:text-xl">Expertise technique</h3>
                        <p class="mb-2 text-gray-500">Grâce à l'expertise de notre équipe d'ingénieurs, de data
                            scientists et de DevOps, nous sommes en mesure de traiter et d'analyser ces vastes quantités
                            de données de manière efficace et précise. Nous utilisons des techniques avancées d'analyse
                            de données, telles que l'apprentissage automatique et la visualisation interactive, pour
                            extraire des informations significatives et les présenter de manière claire et concise.</p>
                        <a href="#"
                            class="font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">En
                            savoir plus</a>
                    </div>
                </div>



                <div class="flex gap-4 md:gap-6">
                    <div
                        class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                        </svg>
                    </div>

                    <div>
                        <h3 class="mb-2 text-lg font-semibold md:text-xl">Résultats significatifs</h3>
                        <p class="mb-2 text-gray-500">Nous sommes impatients de partager les résultats de notre analyse
                            avec vous. Les insights que nous obtenons à partir des données des Demandes de valeurs
                            foncières permettent de prendre des décisions éclairées dans le domaine immobilier, en
                            identifiant les opportunités, en prévoyant les tendances et en comprenant les dynamiques du
                            marché.</p>
                        <a href="#"
                            class="font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">En
                            savoir plus</a>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 sm:p-8">
                <div class="mb-4 sm:mb-8">
                    <h2 class="text-center text-xl font-bold text-indigo-500 sm:text-2xl lg:text-3xl">Recevez les
                        dernières mises à jour
                    </h2>
                    <p class="text-center text-gray-500">S'inscrire à notre lettre d'information</p>
                </div>

                <form class="mb-3 flex w-full max-w-md gap-2 sm:mb-5">
                    <input placeholder="Email"
                        class="bg-gray-white w-full flex-1 rounded border border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-400 outline-none ring-indigo-300 transition duration-100 focus:ring" />

                    <button
                        class="inline-block rounded bg-indigo-500 px-8 py-2 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Send</button>
                </form>

                <p class="text-center text-xs text-gray-400">En vous inscrivant à notre lettre d'information, vous
                    acceptez nos <a href="#"
                        class="underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Conditions
                        de service</a> et <a href="#"
                        class="underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Politique
                        de confidentialité</a>.</p>
            </div>
        </div>
    </div>


    <div class="bg-gray-900">
        <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <div class="mb-16 grid grid-cols-2 gap-12 pt-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-8 lg:pt-12">
                <div class="col-span-full lg:col-span-2">

                </div>


                <div>
                    <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Legal</div>

                    <nav class="flex flex-col gap-4">

                        <div>
                            <a href="#"
                                class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Politique
                                de confidentialité</a>
                        </div>

                        <div>
                            <a href="#"
                                class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Paramètres
                                des cookies</a>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="border-t border-gray-800 py-8 text-center text-sm text-gray-400">© 2023 - Analyse Foncière</div>
        </footer>
    </div>
</body>

</html>